/*-- scss:defaults --*/
.reveal div.sourceCode {
                  border: 1px solid #8cd00000 !important;
                  background-color: #1279df00;}
$link-color: #8cd000 !default;
.imp {color: #8cd000;}
.em15 {font-size:1.5em;}
.c {text-align: right !important;}
.callout-title {background-color: #8cd000 !important;}
